  <div class="page-header">
    <h1>Add movie</h1>
  </div>

  <form action="/submit_movie" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="tile">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="year">Year:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="year" name="year" placeholder="Year">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="year">Duration:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="duration" name="duration" placeholder="Duration">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" id="description" name="description" placeholder="Description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="img_url">Image URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="img_url" name="img_url" placeholder="URL">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Create movie</button>
      </div>
    </div>
  </form>
